.popup {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
}