.popup {
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    opacity: 0;
    transition: visibility 0s, opacity 2s linear;
}
