.profile__rank {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
}

@media screen and (max-width: 1023px) {
    .profile__rank {
        margin: 0 auto 36px;
        font-size: 14px;
        line-height: 17px;
    }

}