.header__logo {
    width: 142px;
}

@media screen and (max-width: 540px) {
    .header__logo {
        padding-left: 28px;
    }

}

@media screen and (max-width: 320px) {
    .header__logo {
        padding-left: 28px;
    }

}