.header {
    display: flex;
    width: 880px;
    flex-direction: column;
    padding-top: 45px;
    margin: 0 auto;
    max-width: calc(1280px - 200px*2);
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 71px*2);
    }

}

@media screen and (max-width: 540px) {
    .header {
        width: calc(100% - 27px*2);
        padding-left: 28px;
    }

}