.profile__sub-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .profile__sub-info {
        margin: 0 auto;
    }
}