.element__like-button {
    background-image: url(../../../images/like-button.svg);
    width: 22px;
    height: 19px;
    align-self: center;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
}

.element__like-button:hover {
    opacity: 0.5;
}