.elements__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px 20px;
    padding: 0;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 880px;
}

@media screen and (max-width: 919px) {
    .elements__list {
        grid-template-columns: repeat(auto-fit, 282px);
        grid-template-rows: repeat(2, 361px);
        width: 584px;
    }
}

@media screen and (max-width: 604px) {
    .elements__list {
        width: 282px;
    }

}